cycler==0.11.0
distlib==0.3.6
filelock==3.8.0
fonttools==4.38.0
kiwisolver==1.4.4
networkx==3.0
numpy==1.24.1
packaging==23.0
pandas==1.5.2
Pillow==9.4.0
platformdirs==2.5.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.0
six==1.16.0
virtualenv==20.16.5
wget==3.2
argparse==1.1
fastapi==0.89.1
gunicorn==20.1.0
paste==3.5.2
pastedeploy==3.0.1
uvicorn==0.20.0